@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
	background-color: #382B09;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

header {
	font-family: 'Montserrat', sans-serif;
	height: 130px;
	background: #463509;
	margin: 0;
}

.header img {
	float: left;
	padding-left:10px;
	padding-top:25px;
}

.header h1 {
	color: #FFF296;
	position: relative;
	text-align: center;
	padding: 10px;
	padding-top: 15px;
	text-shadow: #FC0 1px 0 10px;
	margin-bottom: 20px;
}

.header h2 {
	color: #FFF296;
	position: relative;
	text-align: center;
	padding: 0;
}

.navbar ul {
	font-family: 'Montserrat', sans-serif;
	width: 130px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background-color: #705C1E;
	/*color: #FFF094;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: none;
}

.submenu {
	display: block;
}


.submenu:hover .submenuItem {
	display: block;
	color: #382B09;
}

.submenuItem {
	width: 100%;
	position: absolute;
	display: none;
	padding: 5px;
	background-color: #705C1E;
}

.submenuItem a {
	font-size: 12px;
	padding: 0;
	font-family:'Montserrat', sans-serif;
	text-decoration: none;
	color: #FFF094;
}

nav li {
	padding: 10px;
}

.currentNav {
	text-decoration: underline;
	color: #FFF49B;
}

.notCurrentNav {
	text-decoration: none;
	color: #FAD452;
}

.header img:hover{
	opacity: 0.5;
	
	}

a {
	text-decoration: none;
}

nav ul > li:hover > a {
	color: #382B09;
}
nav ul li a.active {
 text-shadow: 1px 1px #101010;
}

 p, h1 {
	margin: 5px;
	padding-right: 20px;
}

 .content p{
	 word-wrap: break-word;
 }

.content {
	font-family: "Raleway", sans-serif;
	width: 100%-130px;
	height: 100%;
	background: #E0D378;
	display: flex;
	padding-left: 130px ;
	padding-right: 20px;
	padding-top: 10px;
	overflow: hidden;
	margin-right: 5px;
}



.content img {
	height: auto;
	width: 70%;
}



#footer {
	height: 30px;
	background: #1F1300;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
	padding: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}






@media only screen and (max-width: 900px) {

	html, body {
		height: 100%;
		
	}

	.navbar ul {
		font-family: 'Montserrat', sans-serif;
		width: 100%;
		height: 50px;
		position: absolute;
		background-color: #705C1E;
		color: #FFF094;
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: left;
		overflow: hidden;
		font-size: 12px;
		overflow: clip;
		/*display: inline;*/

	}



	nav li {
		float: left;
		padding: 10px;
	}

	header {
		height: 110px;
		}

	.header img {
		display: none;
	}

	.header h1 {
		color: #FFF296;
		position: relative;
		text-align: center;
		padding: 10px;
		padding-top: 15px;
		padding-right: 10px;
		text-shadow: #FC0 1px 0 10px;
		margin-bottom: 10px;
	}

	.header h2 {
		color: #FFF296;
		position: relative;
		text-align: center;
		padding: 0;
		padding-right: 10px;
		font-size: 13px;
	}


	.submenu {
		background-color: #705C1E;
		width: 100%;
		position: absolute;
		display: inline-block ;
		padding: 0;
		float: none;
		padding-top: 10px;
		
	}
	
	.submenu ul {
		display: none;
		
	}

	.submenuItem {
		float: left;
		height: auto;
		width: 100%;
		overflow: clip;
		top: 25px; 
	}

	.submenuItem a {
		font-size: 10px;

	}

	.submenu ul:hover {
		display: block;
		background-color: #705C1E;
		float: right;
		
	}


	.submenu:hover {
		display: inline-block;
		background-color: #705C1E;
		float: right;
	}
	.content {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 50px;
		width: 100%;
		height: 100%;
		background: #E0D378;
		overflow: hidden;
		
	}

	
}

