@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
	background-color: #382B09;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;

	}

img {
	animation: show 0.5s;
}

header {
	font-family: 'Montserrat', sans-serif;
	height: 130px;
	background: #463509;
	margin: 0;
}

.header img {
	float: left;
	padding-left:10px;
	padding-top:25px;
}

#miniIcon {
	display: none;
}

.header h1 {
	color: #FFF296;
	position: relative;
	text-align: center;
	padding: 10px;
	padding-top: 15px;
	text-shadow: #FC0 1px 0 10px;
	margin-bottom: 20px;
}

.header h2 {
	color: #FFF296;
	position: relative;
	text-align: center;
	padding: 0;
}

.navbar ul {
	font-family: 'Montserrat', sans-serif;
	width: 130px;
	height: 110%;
	overflow: hidden;
	position: absolute;
	background-color: #705C1E;
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: none;
}

#charUL {
	height: 3390px;
}

.submenu {
	display: block;
}


.submenu:hover .submenuItem {
	display: block;
	color: #382B09;
}

.submenuItem {
	width: 100%;
	position: absolute;
	display: none;
	padding: 0px;
	background-color: #705C1E;
	line-height:30px;
}

.submenuItem a {
	font-size: 12px;
	font-family:'Montserrat', sans-serif;
	text-decoration: none;
	color: #FFF094;
}

nav li {
	padding: 10px;
}

.currentNav {
	text-decoration: underline;
	color: #FFF49B;
}

.notCurrentNav {
	text-decoration: none;
	color: #FAD452;
}

.header img:hover{
	opacity: 0.5;
}

a {
	text-decoration: none;
}

nav ul > li:hover > a {
	color: #382B09;
}

nav ul li a:active {
 text-shadow: 1px 1px #101010;
}

 p, h1 {
	margin: 5px;
	padding-right: 20px;
}

p::selection {
	color: #382B09;
	background-color: yellow;
}

#galleryIcon path {
	stroke: #201904;
	transition: 0.5s;
}

#galleryIcon circle {
	stroke: #201904;
	transition: 0.5s;
}

#galleryIcon.dark path {
	stroke: #E0D378;
}
#galleryIcon.dark circle {
	stroke: #E0D378;
}

.tabImg {
	height: auto;

}


#content {
	font-family: "Raleway", sans-serif;
	color: #201904;
	background: #E0D378;
	display: flex;
	padding-left: 140px;
	padding-right: 20px;
	padding-top: 10px;
	bottom: 0;
	overflow: hidden;
	margin-right: 5px;
	transition: 0.5s;
}

#content.dark {
	color: #E0D378;
	background: #201904;
}

#content p{
	 word-wrap: break-word;
 }

#posterMM {
	display: none;
	
}

#videoFrame {
	padding-left: 10%;
	padding-top: 10px;
	width: 560px;
	height: 315px;
	animation: show 2s;
}

#darkModeSwitch {
	float: right;
	padding-right: 10px;
	padding-bottom: 10px;
}

form {
	margin: 5px;
}

.mainLabel {
	line-height: 1.5;
}

form select {
	width: 100px;
	color: black;
}


.ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    float: none;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}

footer {
	height: 25px;
	background: #1F1300;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
	padding: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}


#wrapper {
	color: white;
	width: 100%;
	height: 20px;
	overflow: hidden;
	position: relative;
}

.scroller {
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
}


#tab a img {
	height: auto;
	width: 300px;
	display: inline-block;
	padding-left: 5px;
	padding-top: 10px;
	animation: none;

}

#tab {
	line-height: 25px;
}

#content table tr th .fullbody {
	width: 150px;
	padding: 0;
}

table {
margin-left: 25%;
}

table, th, td {
	border: 1px solid;
}

@keyframes show {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

table tr th a img:hover {
	transform: scale(1.5);
}




@media only screen and (max-width: 900px) {

	html, body {
		height: 100%;
		
	}

	.navbar ul {
		font-family: 'Montserrat', sans-serif;
		width: 100%;
		height: 70px;
		position: absolute;
		background-color: #705C1E;
		color: #FFF094;
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: left;
		left: 0;
		font-size: 12px;
		overflow: clip;

	}

	table {
		margin: 0;
	}

	nav li {
		float: left;
		padding: 10px;
	}

	header {
		height: 110px;
		}

	.header img {
		display: none;
	}

	#miniIcon {
		display: initial;
	}

	.header h1 {
		color: #FFF296;
		position: relative;
		text-align: center;
		padding: 10px;
		padding-top: 15px;
		padding-right: 10px;
		text-shadow: #FC0 1px 0 10px;
		margin-bottom: 10px;
	}

	.header h2 {
		color: #FFF296;
		position: relative;
		text-align: center;
		padding: 0;
		padding-right: 10px;
		font-size: 13px;
	}


	.submenu {
		background-color: #705C1E;
		width: 100%;
		display: inline-block;
		padding: 0;
		float: left;
		padding-top: 10px;
	}
	
	.submenu ul {
		display: inline-block;
		float: left;
		left: 0px;
	}

	.submenuItem {
		float: left;
		height: auto;
		width: 100%;
		overflow: clip;
		top: 25px; 
	}

	.submenuItem a {
		font-size: 10px;
		float: left;

	}

	.submenu ul:hover {
		display: inline-block;
		background-color: #705C1E;
		float: left;
		
	}

	#content {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 70px;
		width: 100%;
		background: #E0D378;
		overflow: hidden;
		display: block;
		
	}

	#posterMM {
		display: inherit;
		margin-left: 20%;
		width: 50%;
		height: auto;
	}

	.tabImg {
		display: none;
	}

	#videoFrame {
		display: none;
	}

	#charUL {
		height: 70px;
	}


	
}

